<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>html learning</title>
</head>

<body>
    <div class = "container">
        <header>
            <nav>
                <img class = "logo" src="../static/img/logo.webp" alt = "chikamics logo">
                <a class = "menu_item float_right" href="/contact/">Contact</a>
                <a class = "menu_item float_right" href="/products/">Products</a>
                <a class = "menu_item float_right" href="/main/" >Home</a>
            </nav>
        </header>

        <main>
            <img class ="main_img" src="../static/img/productpageimg.webp" alt="feature cute mug item">
            <p class = "main_text">A cute ceramic collection is a delightful ensemble of hand-crafted or artisanal pieces that bring charm and whimsy to any space.</p>
            <div class = "product_row">
                <div class = "product_item">
                    <h2 class ="product_title"> Spirited away mug</h2>
                    <img class = "product_image" src = "../static/img/product1.webp" alt="product image 1">
                    <p class = "figure_caption">Spirited away</p>
                    <p>A Spirited Away-themed mug typically features artwork or characters inspired by the beloved Studio Ghibli film directed by Hayao Miyazaki.</p>
                </div>
                <div class = "product_item">
                    <h2 class ="product_title"> Cat vs zombies mug</h2>
                    <img class = "product_image" src = "../static/img/product2.webp" alt="product image 2">
                    <p class = "figure_caption">Redesign of Plant vs zombie game</p>
                    <p>A Plants vs. Zombies mug is a vibrant and playful piece of mug inspired by the iconic tower-defense video game.</p>

                </div>
                <div class = "product_item">
                    <h2 class ="product_title"> No face mug</h2>
                    <img class = "product_image" src = "../static/img/product3.webp" alt="product image 3">
                    <p class = "figure_caption">No face from Ghibli</p>
                    <p>A No-Face mug inspired by Spirited Away is a charming and artistic mug piece that celebrates one of the film's most iconic characters.</p>
                </div>
            </div>


        </main>

    </div>
</body>
</html>