<!DOCTYPE html>
<html lang="en" xmlns:width="http://www.w3.org/1999/xhtml" xmlns:height="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/style.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js" defer></script>
    <script src="../static/main.js" defer></script>
    <title>html learning</title>
</head>

<body>
    <div class = "container">
        <header>
            <h1> products</h1>
            <nav>
                <a class = "button" href="/logo/">Site Logo</a>
                <a class = "button float_right" href="/home/">Home</a>
                <a class = "button float_right" href="/products">Products</a>
                <a class = "button float_right" href="/contact/">Contact</a>
            </nav>
        </header>

        <main>
            <img class ="center" src="../static/img/background.jpg" alt="first image">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce porttitor arcu nec velit vulputate, egestas ullamcorper est bibendum.
                Nam vitae quam tristique dolor porta efficitur venenatis eget ipsum. Mauris posuere nisi nisi, sit amet dictum tellus mollis ut. Ut
                iaculis euismod iaculis. Suspendisse potenti. Maecenas quis lorem mauris. Curabitur finibus ante et eros malesuada volutpat. Sed non
                tincidunt ante. Praesent et lorem rutrum, faucibus tortor ac, fringilla eros. Pellentesque at pellentesque ex, non accumsan neque.
                Morbi aliquet iaculis odio nec consequat. Quisque leo arcu, mollis in volutpat varius, auctor eget tellus. Orci varius natoque penatibus
                et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <div class = "product_row">
                <div class = "product_item">
                    <h2 class ="product_title"> product 1</h2>
                    <img class = "product_image" src = "../static/img/product1.jpg" alt="product image 1">
                </div>
                <div class = "product_item">
                    <h2 class ="product_title"> product 2</h2>
                    <img class = "product_image" src = "../static/img/product1.jpg" alt="product image 2">
                </div>
                <div class = "product_item">
                    <h2 class ="product_title"> product 3</h2>
                    <img class = "product_image" src = "../static/img/product1.jpg" alt="product image 3">

                    <p>image description</p>

                </div>
            </div>


        </main>

    </div>
</body>
</html>